<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../static/css/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <title>Quitanda do Zé :: {{title}}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-success shadow border-bottom border-3 border-dark border-opacity-25">
            <div class="container">
                
              <a class="navbar-brand text-light fw-bolder" href="\"> 
                <i class="bi bi-shop-window text-white fw-bolder fs-4 me-1"></i>
                Quitanda do Zé
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" data-bs-theme="dark"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-light fw-semibold" href="\">Principal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light fw-semibold" href="#">Quem somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light fw-semibold" href="#">Contatos</a>
                  </li>
                </ul>
                <form action="/busca" method="post" class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" id="buscar" name="buscar">
                  <input type="submit" class="btn btn-danger" type="submit" value="Buscar">
                </form>
              </div>
            </div>
          </nav>
    </header>
    <main>
        {% block conteudo%}
        {% endblock %}
    </main>
    <footer>
        <footer class="border-top text-muted bg-light">
            <div class="container">
                <div class="row py-3 border-top">
                    <div class="col-12 col-md-4 text-center">
                        &copy; 2023 - Quitanda Online Ltda ME
                        <br>
                        Rua Érico Pimentel Dias, 187, Itapeva/SP
                        <br>
                        CNPJ 99.999.999/0001-99
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/privacidade.html" class="text-decoration-none text-dark">
                            Política de Privacidade
                        </a>
                        <br>
                        <a href="/termos.html" class="text-decoration-none text-dark">
                            Termos de uso
                        </a>
                        <br>
                        <a href="/trocas.html" class="text-decoration-none text-dark">
                            Trocas e Devoluções
                        </a>
                        <br>
                        <a href="/adm" class="text-decoration-none text-dark">
                            Área administrativa
                        </a>
                        <br>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/contato.html" class="text-decoration-none text-dark">
                            Contato pelo Site
                        </a>
                        <br>
                        E-mail:
                        <a href="mailto:email@dominio.com" class="text-decoration-none text-dark">
                            email@dominio.com
                        </a>
                        <br>
                        Telefone:
                        <a href="phone:1599999999" class="text-decoration-none text-dark">
                            (15) 99999-9999
                        </a>
                        <br>
                    </div>
                </div>
            </div>
        </footer>
    </footer>
    <script src="../static/css/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>